extends layout

block navbar  
    .container
      include navbar/loggedin
      mixin navbar(user)

block content
    .container
      .row-fluid.heading
        .span12
          h1 Geo Social
      .row-fluid.subheading
        .span12
          p.lead One sentence description about Geo Social.

block footer
    include footer