extends ../layout

block navbar
    include ../navbar/loggedin
    .container
      mixin navbar(user)

block content

    .container                          
        - for (var image in images) {
            img(src=image)
            - for (var i = 0; i < images[image].length; ++i) {
                .liker
                    img(src=images[image][i])
            - }
            .clearfix
            hr
        - }
        